.body {
    border-style: solid;
    border-width: 1px;

}
.main {
    border-style: solid;
    border-width: 1px;
    border-color: aquamarine;
    padding-bottom: 5px;
    

    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.main__nav {
    border-style: solid;
    border-width: 1px;
    border-color: brown;
    margin: 0px 10px 
}

.left-section {
    border-style: solid;
    border-width: 1px;
    border-color: fuchsia;
    margin:0% 75% 0% 1%;  
    height: 80%;
    width: 17%;
    float:left;
}

.right-section {
    border: 1px solid red;
    text-align: center;
    margin: -764px 0% 0% 20%;
    width: 79%;
    height : 80%;
    float:left;
}

.footer {
    border : 1px solid green;
    margin: 1% 1% 1% 1%;
    height: 10%;
    width: 98%;
    float: right;
    
}

.left-section__header {
    border : 1px solid blue;
    text-align: center;
    margin: 2%;
    height: 8%; 
    
}


.left-section__nav p {
    border: 1px solid yellow;
   text-align: center;
   padding-top: opx;
    margin:2%;
    height: 78%;

}

.left-section__footer {
    border: 1px solid green;
   
    margin:2%;
    height: 8%;
    
}

.right-section__header{
    border: 1px solid orange;
    margin: 10px;
    height: 25px;
}

/* .main-section{
    display: flex;
} */

.right-section__article {
    border: 1px solid darkorchid;
    text-align:center;
    margin: 10px;
    height: 35%;
}

.right-section__article-header {
    border: 1px solid rgb(247, 0, 255);
    text-align: center;
    padding:0px 0px 20px 0px;
    margin: 10px;
    height: 25px;
}

.right-section__article-p{
    border: 1px solid red;
    text-align: center;
    margin: 10px;
    height: 25px;
}
